<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript">
         var sock = null;
         var ellog = null;
         window.onload = function() {
            var wsuri;
            ellog = document.getElementById('log');
            if (window.location.protocol === "file:") {
               wsuri = "wss://localhost:9000";
            } else {
               wsuri = "wss://" + window.location.hostname + ":9000";
            }
            if ("WebSocket" in window) {
               sock = new WebSocket(wsuri);
            } else if ("MozWebSocket" in window) {
               sock = new MozWebSocket(wsuri);
            } else {
               log("Browser does not support WebSocket!");
            }
            if (sock) {
               sock.onopen = function() {
                  log("Connected to " + wsuri);
               }
               
               sock.onclose = function(e) {
                  log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
               }
               sock.onmessage = function(e) {
                  log("Got echo: " + e.data);
               }
            }
         };
         function send() {
            var msg = document.getElementById('message').value;
            var batchsize = parseInt(document.getElementById('batch').value);
            if (sock) {
               for (var i = 0; i < batchsize; ++i) {
                  sock.send(msg);
               }
               log("Sent " + batchsize + "x : " + msg);
            } else {
               log("Not connected.");
            }
         };
         
         function log(m) {
            document.getElementById('log').innerHTML += m + '\n';
         };
      </script>
               
		<style>
			#container {
				margin: 0px auto;
				width: 500px;
				height: 375px;
				border: 10px #333 solid;
			}
			
			#videoElement {
				width: 500px;
				height: 375px;
				background-color: #666;
			}
		</style>
      
	<title>Face Recognition Demonstration</title>

	</head>
	
	<body>
		<table>
			<tr>
				<td>
					<img src="static/opencv_python_logo.png">
				</td>
				<td>
					<img src="static/oracle_logo.png">
				</td> 		
			</tr>
		</table>
    
		<h1>Face Recognition Demonstration</h1>
		
		<div id="container">
			<video autoplay="true" id="videoElement">
			
			</video>
		</div>
		
		<script>
		
			var video = document.querySelector("#videoElement");
					 
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
						 
			if (navigator.getUserMedia) {
				navigator.getUserMedia({video: true}, handleVideo, videoError);
			}
						 
			function handleVideo(stream) {
				video.src = window.URL.createObjectURL(stream);
				var mediaStreamTrack = stream.getVideoTracks()[0];
				var imageCapture = new ImageCapture(mediaStreamTrack);
				imageCapture.grabFrame()
				  .then(imageBitmap => {
					  sendBinary(imageBitmap);
				  })
				  .catch(error => console.error('grabFrame() error:', error));				
			}
						 
			function videoError(e){
				// do something
			}
			
		</script>


	  <h1>Autobahn Secure WebSocket Echo Test</h1>
      <noscript>You must enable JavaScript</noscript>
      <form>
         <p>Message: <input id="message" type="text" size="50" maxlength="50" value="Hello, world!"></p>
         <p>Batchsize:
            <select id="batch">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="4">4</option>
               <option value="8">8</option>
            </select>
         </p>
      </form>
      <button onclick='send();'>Send Message</button>
      <pre id="log" style="height: 20em; overflow-y: scroll; background-color: #faa;"></pre>
      
    
      
      
		
	</body>
</html>



